*.pkl
*.xml
/.venv/
/.idea/
.venv/
__pycache__/
.pytest_cache/
*.py[cod]

.env
*.env
*.zip*
.vscode/

data/raw/
data/processed/
/models/
checkpoints/
outputs/
results/*
!results/README.md

*.tflite
*.h5
*.keras

plan.md
